body{
  margin: 0px;
  padding: 0px;
  font-family: "Comic Sans MS";
  text-decoration: none;
  background-color: #97CEB9;
}
nav{
  position:sticky;
  padding:10px;
  background-color:#044;
  box-shadow: 0 4px 15px rgba(52, 72, 52, 0.662);
}
.navBar{
  display: flex;
  margin: auto;
  color: #fff;
  justify-content: space-between;
}
.navBar > div{
  display: flex;
  align-items: center;
}
.title img,span{
  margin-right:1vw;
}
img{
  width: 3vw;
  height: auto;
  padding: .5vw;
}
.title>span{
  font-size:1.5vw;
}
.nav-links > a{
  margin-right: auto;
  padding: .2vw;
  border-radius: .6vw;
  color: #fff;
  transition:all 0.2s ease-in-out;
  border-style: solid;
  border-width: 0.3vw;
  border-left-width: 0.8vw;
  border-right-width: 0.8vw;
  border-color: #0000;
  font-size: 1vw;
  background-color: #055;
  text-decoration: none;
}
.nav-links > a:hover{
  background-color: #075 !important;
  color: #ccc;
}
 
 
@media screen and (max-width:800px) {
.navBar{
  display: flex;
  flex-direction: column;
}
.navBar>div{
  display: inline-block;
  padding: 1% 2%;
  margin:auto;
}
