body{
  font-family: "Comic Sans MS","Comic Sans";
  background-color:#090;
  margin: 0;
}
nav{
  position:sticky;
  padding:10px;
  background-color:#060;
  font-size: 200%;
}
.navBar{
   display: flex;
   margin: auto;
   max-width: 1200px;
   color: #fff;
   justify-content: space-between;
}
.navBar > div{
   display: flex;
   align-items: center;
}
.nav-links > a{
   margin-right: 20px;
   padding:5px;
   border-radius:5px;
   color: #fff;
   transition:all 0.2s ease-in-out;
}
.nav-links > a:hover{
   background-color: #040 !important;
   color: #aaa;
}
.main{
  margin: 10pt;
}
nav > img{
  scale: 70%;
}
